<html>
    <body>
        <form action="/submit" method="post">
            Your Name:
            <input type="text" name="name">
            <br><br>
            Dojo Location:
            <select name="location">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <br><br>
            Favorite Language:
            <select name="language">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <br><br>
            Comments (optional)<br>
            <textarea name="comment" rows="5" cols="100">
            </textarea>
            <br><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>